body{
    margin:0;
    padding: 0;
}

* {
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-bar-wrapper{
    display: flex;
    flex-direction: column;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(255, 255, 100);
    height: 3rem;
}

.buttons{
    margin-left: 70%;
}

.login, .register{
    margin-right: 10px;
    background-color: rgb(255, 255, 100);
    color: black;
    font-size: 18px;
    font-weight: 600;
    border: none;
}

.login:hover, .register:hover{
    background-color: black;
    color:white;
}

.bottom-nav-bar{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
}

.bottom-buttons{
    background-color: black;
    color: white;
    border: none;
    margin-right: 12px;
    font-weight: 600;
    font-size: 16px;
}

.line{
    height: 1.5rem;
    margin-right: 7px;
    border-right: 2px solid white;
}

.bottom-buttons:hover{
    background-color: white;
    color: black;
}

.footer{
    width: 100%;
    height: 7rem;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;

}

.footer-form{
    color: white;
    display: flex;
    flex-direction: column;
    margin-right: 2%;
}

.links{
    display: flex;
    flex-direction: column;
    color:white;
}

.card {
    background-color: white;
    color: black;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    box-shadow: 13px 13px 20px #cbced1,
    13px 13px 20px #cbced1;
    border-radius: 25px;
    row-gap: 10px;
    background-color: #f6f6f6;
    border-top: none;
  }

img{
    width: 99.9%;
    height: 100%;
    margin-bottom: 10px;
  }

  .cards {
    width: 99%;
    margin: 0 auto;
    display: grid;
    justify-items: center;
    column-gap: normal;
    row-gap: 30px;
    column-gap: 0;
  }

  .description{
      display:flex;
      flex-direction: column;
      justify-content: space-between;
  }

  .clothing{
      font-weight: 700;
  }

  .price{
      font-weight: 700;
      color: red;
      margin-left: 100px;
  }

.clothes-wrapper{
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    display:flex;
    flex-direction: row;
}

a{
    text-decoration: none;
    color: inherit
}

.cart-wrapper{
    width: 30%;
    margin-top: 50px;
}

.cart{
    width: 100%;
    justify-content: flex-start;
}

.shopping-cart td, .shopping-cart th {
    border: 1px solid #ddd;
    padding: 8px;

  }
  
  .shopping-cart tr:nth-child(even){background-color: #f2f2f2;}
  
  .shopping-cart tr:hover {background-color: #ddd;}
  
  .shopping-cart th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(255, 255, 100);
    color: black;
  }

  .delete{
      height: 3rem;
      width: 2rem;
      outline: none;
      border: none;
      background-color: black;
      color:white;
      font-weight: 600;
  }

  .delete:hover{
      color:black;
      background-color: rgb(255, 255, 100);
  }

  .add-to-cart{
      width: 100%;
      height: 2rem;
      outline: none;
      border: none;
      border-radius: 30px;
      background-color: rgb(255, 255, 100);
      color: black;
      font-weight: 600;
      margin-top: 10px;
  }



  .add-to-cart:hover{
      background-color: black;
      color:white;
  }

  .info-wrapper{
      display: flex;
      flex-direction: column;
      align-content: space-between;
  }

  .clothing1, .clothing2, .clothing3, .clothing4, .clothing5, .clothing6{
      margin-bottom: 10px;
  }

  .price1, .price2, .price3, .price4, .price5, .price6{
      color: crimson;
  }

  input{
      width: 20%;
      height: 63%;
  }

  span{
      font-weight: 700;
  }

  @media (min-width: 600px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
  }

  @media (min-width: 900px) {
    .cards { grid-template-columns: repeat(3, 1fr); }
  }

